In [2]:
import pandas as pd 

math_student = pd.read_csv("./data/student-mat.csv", sep=";")
por_student = pd.read_csv("./data/student-por.csv", sep=";")

In [6]:
merged = math_student.merge(por_student, how='outer')
merged

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,GP,F,18,R,GT3,T,2,2,at_home,other,...,4,4,4,1,1,4,6,14,13,14
391,GP,F,17,U,GT3,T,3,4,services,other,...,4,4,5,1,3,5,8,11,13,14
392,GP,F,17,U,GT3,T,3,2,other,other,...,4,3,2,2,3,2,0,12,13,15
393,GP,F,18,U,LE3,T,3,3,services,services,...,5,3,3,1,1,1,4,14,14,15
394,GP,F,17,R,GT3,A,3,2,other,other,...,4,3,3,2,3,2,0,14,14,16

# Mostrar apenas alunos com notas baixas e que tem mÃ£e professora

In [7]:
low_grades = merged.loc[
    (merged.Mjob == 'teacher') &
    (merged.G1 < 6) &
    (merged.G2 < 6)
]

In [8]:
low_grades

Empty DataFrame
Columns: [school, sex, age, address, famsize, Pstatus, Medu, Fedu, Mjob, Fjob, reason, guardian, traveltime, studytime, failures, schoolsup, famsup, paid, activities, nursery, higher, internet, romantic, famrel, freetime, goout, Dalc, Walc, health, absences, G1, G2, G3]
Index: []

[0 rows x 33 columns]